# Ignore virtual environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings (optional)
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Audio files
encrypted_audio_file.wav
decrypted_audio_file.wav
decrypted.wav
filtered_audio.wav

# RSA keys
*.pem
*.bin

# Other output files
output.txt
iv.txt